<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="login.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<!-- This is all the page independent functions.  The ones which directly interact with the page are inlined below. -->
</head>

<div id="login-page" class="box">
  <div id="login-message" class="message"></div>
    <form>
      Username: <input id="login-username" type="text" name="username"><br>
      Password: <input id="login-password" type="password" name="pwd"><br>
      <input id="login-button" type="submit" value="Login">
      <input id="add-button" type="submit" value="Add User">
    </form>
</div>

<div id="welcome-page" class="box">
  <div id="welcome-message" class="message"></div>
    <form>
      <input type="submit" id="logout-button" value="Logout">
    </form>
</div>

<script type="text/javascript">



ERR_BAD_CREDENTIALS = (-1);
ERR_USER_EXISTS = (-2);
ERR_BAD_USERNAME = (-3);
ERR_BAD_PASSWORD = (-4);


function handle_response(data, user, allowed_err_codes){
	if( data.errCode > 0 ) {
     c = data.count;
     show_loggedin_page(user, c);
  } else {
        if( allowed_err_codes.indexOf(data.errCode) == -1  ) {
           alert( 'Illegal error code encounted for this state');
        }
     show_front_page( err_to_message(data.errCode) );  
  }
}

function handle_login_response(data, user) {
	return handle_response(data, user, [ERR_BAD_CREDENTIALS])

}

function handle_add_user_response(data, user) {
	return handle_response(data, user, [ERR_BAD_USERNAME, ERR_USER_EXISTS, ERR_BAD_PASSWORD]);
}


function err_to_message(code) {
    
    
    if( code == ERR_USER_EXISTS) {
        return ("That username is taken! Make another!");
       }
    
    if( code == ERR_BAD_USERNAME) {
        return ("The user name should not be empty and it should be less than 128 characters. Fix this immediately.");
    }
    
    if( code == ERR_BAD_CREDENTIALS) {
        return ("Either your password or username was wrong. Try again bro.");
    }
    
    
    if (code == ERR_BAD_PASSWORD){
    	return ("YOur password is too long. It should be less than 128 characters. You can't even remember a password that long! what's wrong with you!");
    }
    
        return ("Unknown error occured: " + code);
}
function blank_fields(){
	$('#login-username').val("")
	$('#login-password').val("")
	return false;
}


/*Start by blanking the page.*/
$('#login-page').hide()
$('#welcome-page').hide()
blank_fields();
$('#login-message').html("Login to the app below")
$('#welcome-message').html("'placeholder text");

$(document).ready(function() {
   show_front_page("Please enter your credentials below");
 });


function show_front_page(message) {
  $('#welcome-page').hide()
  blank_fields;
  $('#login-message').html(message)
  $('#login-page').show()
}

function show_loggedin_page(user, count) {
   $('#login-page').hide();
   $('#welcome-page').show();
   $('#welcome-message').html("Welcome "+user+"<br>You have logged in "+count+" times.");
}






function buttonclick(action){
	
	function json_request(page, dict, success, failure) {
    $.ajax({
        type: 'POST',
        url: page,
        data: JSON.stringify(dict),
        contentType: "application/json",
        dataType: "json",
        success: success,
        failure: failure
    });
}
	
	
	function _buttonclick(){
	   username = $('#login-username').val()
	   password = $('#login-password').val()
	   json_request("/users/" + action, { user: username, password: password }, function(data) { 
	   	if (action=='add'){
	   	return handle_add_user_response(data, username); 	
	   	}
	   	else if(action == 'login'){
	   		return handle_login_response(data, username);
	   	}
	   	else{
	   		alert('disallowed action take!');
	   	}
	   }
	   	, function(err) {alert('error occurred on request'); });
	
	   return false;
	}
	return _buttonclick;
}

$('#add-button').click(buttonclick('add'));
$('#login-button').click(buttonclick('login'));

$('#logout-button').click(function() {
  show_front_page();

  return false;
});

</script>

<body>
</body>
</html>
